@tailwind base;
@tailwind components;
@tailwind utilities;

.break-words {
    word-wrap: break-word;
    word-break: break-word;
    max-width: 20ch; /* 最大幅を約30文字に制限 */
    white-space: pre-wrap; /* 改行を許可 */
}

.currency-dropdown {
    top: 12px !important;
}

